* { margin:0;  padding:0; }
ol { margin:0; padding:0; list-style:none; }
body { background:#5E5E5E; font-family:monaco; color:#5E5E5E; background:#fff; }
head, footer { margin:1em 0; display:block;}
input { font-size:16px; padding:.25px; }
#tagline { margin:.5em 0;}
#container, #header { width:500px; margin:1em auto;}
a:link, a:visited { color:#3A51FF; text-decoration:none;}
a:hover { text-decoration:underline; }
#sources { margin:1em 0; }
#source-list { margin-left:2em; }
.comments { color:#ccc; }
.tab { margin-left:1em; }