* { margin:0;  padding:0; }
ol { margin:0; padding:0; list-style:none; }
body {
  background:#fff;
  color:#5E5E5E; 
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
}
header, footer { margin:1em 0; display:block; clear:both;}
footer { background:#eee; padding:1em; }
input { font-size:16px; padding:.25px; }
p { margin:1em 0; }
#tagline { margin:.5em 0;}
#container, #header { width:760px; margin:1em auto;}
a:link, a:visited { color:#3A51FF; text-decoration:none;}
a:hover { text-decoration:underline; }
#sources { margin:1em 0; }
.src { font-family: Consolas, "Lucida Console", Monaco, monospace; }
pre {
  background:#eee;
  padding:1em;
  font-size:14px;
}
#source-list {  }
.comments { color:#ccc; }
.tab { margin-left:1em; }
h2 { background:#7A7676; color:#fff; padding:.25em .5em; margin:.5em 0; }
.container { margin:1em 0;}
ul, ul li { padding:0; margin:.5em 0; list-style:none; }
li { margin-bottom:1em; }
.rounded, h2, pre { 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
}
.org, .project, .version {
  font-weight:bold;
}
#about-container {
  margin-right:1em;
}
#about-container, #source-container {
  width:368px;
  float:left;
}

#instruct-container {
  clear:both;
}
