<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <filter>
    <filter-name>Sourced</filter-name>
    <display-name>Sourced Filter</display-name>
    <filter-class>implicitly.Sourced</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Sourced</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>SourcedUpload</filter-name>
    <display-name>Sourced Upload Filter</display-name>
    <filter-class>implicitly.Sourced</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SourcedUpload</filter-name>
    <url-pattern>/uploads</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SourcedApi</filter-name>
    <display-name>Sourced Api Filter</display-name>
    <filter-class>implicitly.Api</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SourcedApi</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
</web-app>